# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# VSCode settings
.vscode/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/